bin
stage
stage/vagrant/.environment1.properties
.project
target
.idea
build
!build/pom.xml
!build/CHANGELOG.md
*.iml
*.prefs
.classpath
.environment1.properties
.environment2.properties
cmdline-tests/.config
*.swp
*.prefs

